streamlit==1.23.1
streamlit-aggrid==0.3.4.post3
streamlit-pandas==0.0.9
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1680694271308/work
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1665273484262/work
pandas==1.5.3
pandas-flavor==0.5.0
pandas-profiling==3.5.0
penaltyblog==0.7.0





